$main-font: 'Montserrat', sans-serif;

$my-message-color: #e7e7e7;
$another-message-color: #3e4252;

$secondary-bg-color: #fafafa;
$main-bg-color: #ffffff;

$border-line-color: #dedede;

// ==== Font color ====
$my-message-font-color: #464646;
$another-message-font-color: #ffffff;

$placeholder-font-color: #8c8c8c;

$title-color: #56a5ca;

$font-color: #202020;