@import '../../styles/components/variables';

.chat {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__header {
		width: 100%;
		display: flex;
		align-items: center;

		border-bottom: 1px solid $border-line-color;

		padding: 0.8rem 0.6rem;
	}

	&__wrapper {
		flex-grow: 1;

		display: flex;
		flex-direction: column;

		max-height: 79vh;
		overflow-y: auto;

		padding: .9rem 1.1rem 0 0.5rem;
	}
}

.name {
	font-size: 1.2rem;
	font-weight: medium;
	margin-left: 0.6rem;
}

.photo {
	width: 40px;
	height: 40px;
}

.footer {
	padding: 1.4rem 0;
	border: 1px solid $border-line-color;
	background: $secondary-bg-color;
}

.placeholder {
	text-align: center;
	font-weight: 800;
	color: $placeholder-font-color;
	font-size: 2rem;
}